p, span, div {
	color: green;
	margin: 10px;
	padding: 10px;
}
/** my changes do not accept them**/

p, span, div {
	color: green;
	margin: 10px;
	padding: 10px;
}

/** Milena has made the above chenges **/